@import '../../../../media.scss';

.table-foot {
    height: 40px;
    width: 100%;
    @include flexBox(row, center, center);

    @include mediaQuery($tablet-sm) {
        justify-content: flex-end;
        padding-right: 6px;
    }
}
