@import '../../../media.scss';

.icon {
    font-size: 2em;
    height: 50%;
    color: $defaultWhiteColor;

    @include mediaQuery($tablet-sm) {
        font-size: 3em;
    }
}

.icon--search,
.icon--sort,
.icon--calendar {
    font-size: 1.2em;
}

.icon--search,
.icon--sort {
    color: $defaultBlackColor;
}

.icon--search {
    transform: scaleX(-1);
}

.icon--calendar {
    color: $primaryGreyColor;
}

.icon--next,
.icon--previous {
    color: $primaryBlueColor;
    font-size: 1.4em;
}
