@import '../../../media.scss';

.filters-info {
    max-width: 70%;
    border: 2px solid $primaryOrangeColor;
    padding: 8px;
    margin-bottom: 12px;
    transition: margin-bottom 0.2s ease;

    @include mediaQuery($tablet-sm) {
        margin-bottom: 0;
    }

    // @media (max-width: 414px) and (max-width: 736px) {
    //     display: none;
    // }

    .filters-info__title {
        margin-top: 0;
        margin-bottom: 6px;
    }

    p {
        margin: 4px 0px;
    }
}
