@import '../../../media.scss';

.filters-info {
    max-width: 70%;
    border: 2px solid $primaryOrangeColor;
    padding: 8px;
    margin-bottom: 12px;
    transition: margin-bottom 0.2s ease;
    position: absolute;
    background: $defaultWhiteColor;
    bottom: 15px;
    left: -5px;

    &.filters-info--closed {
        display: none;

        @include mediaQuery($tablet-sm) {
            display: block;
        }
    }

    @include mediaQuery($tablet-sm) {
        margin-bottom: 0;
        position: initial;
    }

    .filters-info__title {
        margin-top: 0;
        margin-bottom: 6px;
    }

    p {
        margin: 4px 0px;
    }
}
