@import '../../../media.scss';

@keyframes opacity-inc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.backdrop {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $backdropBackgroundColor;
    z-index: 90;
    opacity: 0;
    animation: opacity-inc 500ms;
    animation-fill-mode: forwards;
}
