@import '../../../../media.scss';
@mixin primaryColors {
    background-color: $primaryOrangeColor;
    color: $defaultWhiteColor;
}

@mixin invertedColors {
    background-color: $defaultWhiteColor;
    color: $primaryOrangeColor;
}

.primary-button {
    width: 100px;
    height: 40px;
    @include primaryColors;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.5;
    padding: 6px;
    border: 1px solid $primaryOrangeColor;
    text-align: center;
    transition: height 0.2s ease;
    cursor: pointer;

    @include mediaQuery($mobile-sm) {
        width: calc(0.069 * 100vw + 78px);
        height: calc(0.013 * 100vw + 36px);
        border-radius: calc(0.009 * 100vw - 0.9px);
        font-size: calc(0.003 * 100vw + 15px);
    }

    @include mediaQuery($screen-lg) {
        width: 210px;
        height: 60px;
        border-radius: 6px;
        font-size: 21px;
    }

    &:hover {
        @include invertedColors;
        border: 3px solid $primaryOrangeColor;
        font-weight: bold;
    }

    &.primary-button--filters {
        @include mediaQuery($tablet-sm) {
            display: none;
        }
    }
}
