@import '../../media.scss';

.main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    padding: 4vw;
    margin: 0 auto;
    transition: width 0.2s ease;
    @include flexBox(column, flex-start, stretch);

    @include mediaQuery($tablet-sm) {
        width: calc(100vw - 125px);
    }

    @include mediaQuery($screen-lg) {
        width: $screen-md;
        position: relative;
        margin: 0 auto;
    }

    .main__section-top {
        height: 20vh;
        @include flexBox(row, flex-end, flex-end);

        @include mediaQuery($tablet-sm) {
            @include flexBox(row, space-between, flex-end);
        }
    }

    .main__section-middle {
        height: 60vh;
        margin-top: 5vh;
        @include flexBox(row, center, flex-start);
        overflow: hidden;
    }
}
