@import '../../media.scss';

.main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    padding: 4vw;
    margin: 0 auto;
    transition: width 0.2s ease;
    @include flexBox(column, center, center);

    @include mediaQuery($tablet-sm) {
        width: calc(100vw - 125px);
    }

    @include mediaQuery($screen-lg) {
        width: $screen-md;
        position: relative;
        margin: 0 auto;
    }

    .main__section-search {
        height: 10vh;
        width: 80%;
        @include flexBox(column, flex-end, center);
        transition: width 0.2s ease;

        @include mediaQuery($tablet-sm) {
            width: 70%;
        }

        @include mediaQuery($tablet-lg) {
            width: 60%;
        }

        .main__input-container {
            width: 100%;
            margin: 5vw 0;

            @include mediaQuery($tablet-lg) {
                margin: 2vw 0;
            }
        }

        .main__buttons-container {
            width: 90%;
            @include flexBox(row, space-between, center);
        }
    }
    .main__section-table {
        margin-top: 0vh;
        height: 100%;
        width: 90%;
        @include flexBox(column, center, center);
        overflow: visible;

        .main__filters-info-container {
            width: 100%;
            @include flexBox(column, center, center);

            @include mediaQuery($tablet-sm) {
                @include flexBox(row-reverse, space-around, center);
            }
        }
    }
}
