@import '../../../../../media.scss';

.date-picker-control {
    font-size: 12px;
    color: $primaryGreyColor;
    margin-left: 12px;
    user-select: none;

    &:focus {
        outline: none;
    }
}
