@import '../../../../media.scss';

.secondary-button {
    width: 100px;
    height: 30px;
    background-color: $primaryOrangeColor;
    color: $defaultWhiteColor;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.5;
    padding: 6px;
    border: 1px solid $primaryOrangeColor;
    text-align: center;
    transition: height 0.2s ease;
    @include flexBox(row, center, center);
    cursor: pointer;

    @include mediaQuery($mobile-sm) {
        width: calc(0.089 * 100vw + 71.4px);
        height: calc(0.022 * 100vw + 22.9px);
        border-radius: calc(0.009 * 100vw - 0.9px);
        font-size: calc(0.003 * 100vw + 13.2px);
    }

    @include mediaQuery($tablet-sm) {
        width: 130px;
        height: 40px;
        border-radius: 6px;
        font-size: 18px;
    }

    &:disabled {
        background-color: $secondaryOrangeColor;
        border: none;
        position: relative;

        &:hover {
            &::before {
                content: 'Wybierz pracowników z listy';
                vertical-align: middle;
                display: inline-block;
                width: 180px;
                height: 24px;
                position: absolute;
                top: -20px;
                left: -170px;
                font-size: 12px;
                padding-top: 8px;
                background: $defaultWhiteColor;
                color: $defaultBlackColor;
                border: 1px solid $primaryOrangeColor;
                border-radius: 4px;
            }
        }
    }
}
