@import '../../../../../media.scss';

.nav-button {
    background-color: transparent;
    border: 1px solid $primaryBlueColor;
    border-radius: 50%;
    padding: 6px;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}
