@import '../../../media.scss';

.modal {
    width: 260px;
    height: 430px;
    z-index: 99;
    transition: width, height 0.2s ease;
    position: absolute;
    background-color: $defaultWhiteColor;
    top: 50%;
    left: 50%;
    padding: 2vw 4vw;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 16px 0px $boxShadowColor;
    -moz-box-shadow: 0px 0px 16px 0px $boxShadowColor;
    box-shadow: 0px 0px 16px 0px $boxShadowColor;
    transition: padding 0.2s ease;

    @include mediaQuery($mobile-sm) {
        width: calc(0.647 * 100vw + 52.9px);
        height: calc(0.513 * 100vw + 265.7px);
    }

    @include mediaQuery($tablet-sm) {
        width: calc(0.113 * 100vw + 333.3px);
        height: calc(0.139 * 100vw + 403.3px);
    }

    @include mediaQuery($tablet-lg) {
        padding: 2vw 2vw;
    }

    @include mediaQuery($screen-lg) {
        width: 550px;
        height: 670px;
        padding: 1vw 1vw;
    }
    .modal__close-button {
        // width: 40px;
        // height: 40px;
        float: right;
        border: none;
        background-color: $defaultWhiteColor;
        color: $primaryGreyColor;
        padding-right: 0;
        font-size: 18px;
        cursor: pointer;
        transition: font-size 0.2s ease;

        @include mediaQuery($tablet-sm) {
            font-size: 22px;
        }
    }

    .modal__heading {
        font-size: 20px;
        margin-top: 6px;
        margin-bottom: 2vw;

        @include mediaQuery($mobile-sm) {
            font-size: calc(0.004 * 100vw + 18.8px);
        }

        @include mediaQuery($screen-lg) {
            font-size: 26px;
        }
    }

    .modal__select-container {
        height: 70%;
        @include flexBox(column, center, flex-start);
    }

    .modal__button-container {
        position: absolute;
        bottom: 4vw;
        right: 4vw;
        transition: bottom, right 0.2s ease;

        @include mediaQuery($tablet-lg) {
            bottom: 3vw;
            right: 2vw;
        }

        @include mediaQuery($screen-lg) {
            bottom: 2vw;
            right: 1vw;
        }
    }
}
