@import '../../../../media.scss';

.table-row {
    width: 100%;
    vertical-align: middle;
    display: table;
    border-spacing: 0;
    font-size: 14px;

    @include mediaQuery($mobile-sm) {
        font-size: calc(100vw * 0.009 + 11.1px);
    }

    @include mediaQuery($screen-lg) {
        font-size: 18px;
    }

    th,
    td {
        width: 50%;
        @include mediaQuery($tablet-sm) {
            width: 17.5%;

            &:last-child {
                width: 30%;
            }
        }
    }

    td {
        padding: 6px;
    }

    &.table-row--heading {
        height: 40px;
        text-align: center;

        .table-row__cell-heading--high {
            display: none;

            @include mediaQuery($tablet-sm) {
                display: table-cell;
            }
        }

        th {
            position: sticky;
            top: 0;
            z-index: 5;
        }

        .table-row__cell-heading--low {
            @include mediaQuery($tablet-sm) {
                display: none;
            }
        }
    }

    &.table-row--default {
        height: 30px;
        text-align: left;
        cursor: pointer;

        .table-row__cell--high {
            display: none;

            @include mediaQuery($tablet-sm) {
                display: table-cell;
            }
        }

        .table-row__cell--low {
            text-align: center;
            .icon {
                color: $primaryBlueColor;
                height: 30% !important;
            }

            @include mediaQuery($tablet-sm) {
                display: none;
            }
        }

        &:nth-child(even) {
            background-color: $thirdGreyColor;
        }

        &:hover {
            background-color: $primaryBlueColor;
            color: $defaultWhiteColor;

            .table-row__cell--low {
                .icon {
                    color: $defaultWhiteColor;
                }
            }
        }
    }
}
